<h1>My Profile</h1>
@if (profile) {
  <div class="profile-card">
    <div class="avatar">
      <img src="/avatar-default.png" alt="avatar" class="profile-card_avatar">
    </div>
    <div class="profile-card_wrapper">
      <div class="profile-card_fullname">
        <strong> {{ profile.firstName }} {{ profile.lastName }}</strong>
      </div>
      <div class="profile-card_email">
        <strong> {{ profile.email }}</strong>
      </div>
      <div class="profile-card_jira__email">
        <strong> {{ profile.jiraEmail }}</strong>
      </div>
    </div>
  </div>
  <div class="profile-card_server__list">
    <h2>Servers</h2>
    @for (project of profile.jiraServerList; track project.id) {
      <div class="profile-card_server">
        <strong> {{ project.name }}</strong>
      </div>
    }
  </div>
} @else {
  <div>
    Error
  </div>
}
