<div class="wrapper">
  <h1>Dev Pulse</h1>
  <h2>It’s a innovation product to track and analyze software development’s team</h2>
  <div class="main-button" [routerLink]="'/projects'">
    Let's try!
  </div>
  <div class="team-image">
    <img src="/images/soft%20team.jpg" width="1100" height="728"/>
  </div>
  <h2>Get your data all in place</h2>
  <div class="logo-container">
    <div class="logo-container-card">
      <img src="/images/git.png">+
      <h3>GitHub</h3>
      <p>Get latest data from commits, pull requests, and other activity</p>
    </div>
    <div class="logo-container-card">
      <img src="/images/jira.png">
      <h3>Atlassian Jira</h3>
      <p>Get latest data from tasks, sprints, any projects</p>
    </div>
    <div class="logo-container-card">
      <img src="/images/ai.png">
      <h3>Artificial Inteligence</h3>
      <p>Allow AI to help your projects move forward as fast as possible</p>
    </div>
  </div>
  <div class=analyze-container>
    <ul>
      <li>
        <h2>Analyze</h2>
        <h3>Analyse team performance</h3>
        <p>Get an objective assessment of your IT team's performance based on data from Jira.</p>
        <h3>Real-time visualisation of metrics</h3>
        <p>Graphs, charts and summaries to help you understand the dynamics of your business.</p>
        <h3>Real-time visualisation of metrics with AI</h3>
        <p>No more manual data collection - everything in one place. </p>
      </li>
      <li>
        <img src="/images/dash.png">
      </li>
    </ul>
  </div>
</div>
